/*general setup*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Oxygen&display=swap');

:root{
    --bg-color: #F4B71F;
    --dark-bg: #e0a100;
    --main-text-color: #FFFFFF;
    --box-color: #252525;
    --sec-text-color: #252525;
    --main-font: 'IBM Plex Sans', sans-serif;
    --sec-font: 'Oxygen', sans-serif;
    --h1-size: 100px;
    --h2-size: 60px;
    --h3-size: 36px;
    --h4-size: 28px;
    --p-size: 24px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg-color);
}

nav{
    background-color: var(--box-color);
    top: 0;
    position: fixed;
    height: 100vh;
    width: 5vw;
}

nav ul{
    list-style: none;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

nav li{
    /* display: inline-block; */
    position: relative;
    margin: 50px 0;
    height: fit-content;
    width: 100%;
}

nav > ul > li:not(.mail, .linkd){
    display: flex;
    justify-content: center;
    transform: rotate(-90deg);
}

.mail, .linkd{
    margin-left: 10px;
}

.mail a, .linkd a{
    font-size: larger;
}

.submenu{
    display: none;
    position: absolute;
    background: var(--box-color);
    height: fit-content;
    margin: 60px 0 0 0;
    transform: rotate(90deg);
    padding: 30px;
}

.submenu li{
    margin: 0;
}

.submenu li:nth-child(2){
    margin: 15px 0;
}


nav a{
    color: var(--main-text-color);
    text-decoration: none;
    position: relative;
    font-family: var(--main-font);
    transform-origin: left center;
    white-space: nowrap;
    font-size: large;
}

nav li:not(.mail, .linkd) a:hover{
    animation-name: bounce;
    animation-duration: .5s;
}

header{
    font-size: xx-large;
    font-family: var(--sec-font);
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 15vh 0 30vh 0;
}

header *{
    text-align: center;
}

.title :nth-child(2){
    color: var(--main-text-color);
    background-color: var(--box-color);
    padding: 0 50px;
}

h1{
    margin: 0;
    font-size: var(--h1-size);
}

h2{
    margin: 15px 0;
    font-size: var(--h2-size);
}

article{
    margin: 0px 50px 0px calc(5vw + 50px);
}

@keyframes bounce{
    0%, 100%{font-size: large;}
    50%{font-size: larger;}
}

section{
    background-color: var(--box-color);
    color: var(--main-text-color);
    padding: 15px;
    border-radius: 2px;
    margin: 10px 0px;
    font-family: var(--main-font);
}

h3{
    font-size: var(--h3-size);
}

h4{
    font-size: var(--h4-size);
}

p{
    font-size: var(--p-size);
}

img{
    max-width: 100%;
}

a{
    color: var(--main-text-color);
}

.no-bg{
    background-color: rgba(0,0,0,0);
}

.no-bg *{
    color: var(--sec-text-color);
}

@keyframes slide {
    0%{top:-100px;}
    100%{top:0px;}
}

@keyframes unslide {
    100%{top:-100px;}
    0%{
        top:0px;
        display: none;
    }
}

.unslider{
    animation-name: unslide;
    animation-duration: .5s;
    /* display: none; */
}

.slider{
    display: block;
    animation-name: slide;
    animation-duration: .5s;
}

/*home page*/

.tools{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tools h3{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.tools div{
    color: var(--sec-text-color);
    width: 30%;
    background-color: var(--bg-color);
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}

.projects > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
}

.right{
    width: 49%;
    margin: 0;
}

.right h4{
    margin: 0;
}

.projects img{
    width: 49%;
    height: 100%;
}

.tools div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#vscode img{
    width: 25%;
}

#figma img, #github img, #photoshop img, #netlify img, #pexels img{
    width: 50%;
}

/*about page*/

.awards, .hobbies, .plan{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*resume page*/

.resume > ul, .resume > ul > li > ul{
    list-style: none;
}

.top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.top p{
    width: 50%;
}

.top :nth-child(2){
    text-align: right;
}

/*contact page*/

.links{
    display: flex;
    justify-content: space-evenly;
}

.links a{
    border: #000 solid 5px;
    border-radius: 10px;
    padding: 10px;
    font-family: var(--main-font);
}

/*main portfolio page*/

